body{
   margin: 0;
}

header {
  background-image: url(../img/pattern.png);
  background-color: rgb(78, 160, 255);
  background-size: 17%;
  
  
}

#logo {
  height: 50px;
  margin-top: 50px; 

}

h1 {
  font-size: 30px;
}

.sottotitolo {
  color: rgb(118, 118, 118);
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.colore {
  color: rgb(41, 173, 230);
}